.title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  color: var(--color-titles);
}

.title--main {
  font-family: "Roboto", sans-serif;
  font-size: 68px;
  line-height: 120%;
}

.title--h2 {
  font-size: 48px;
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-accent);
  }

  & + * {
    margin-top: 88px;
  }
}

.title--h3 {
  font-size: 40px;
}
