:root {
  --color-primary: #828282;
  --color-secondary: #f9faff;
  --color-accent: #fdc435;
  --color-border: #e8ecf4;
  --color-titles: #25282B;

  --title-primary: "64px";
  --title-secondary: "48px";
  --title-cards: "40px";

  --max-width-container: 1230px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nunito Sans", "Roboto", "Playfair Display", "Raleway",
    "Comfortaa", serif;
  font-weight: normal;
  font-size: 18px;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  position: relative;
}

#root {
  width: 100%;
}
