.btn {
  border: 0;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-titles);
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid var(--color-titles);
  height: 43px;

  &:focus {
    outline: 2px solid var(--color-primary);
  }
}

.btn--primary {
  border-radius: 24px;
}

.btn--secondary {
  background-color: var(--color-accent);
  border: none;
}

.btn--menu {
  width: 36px;
  height: 28px;
  padding: 0;
  border: none;
  background: linear-gradient(
    var(--color-titles) 20%,
    transparent 20% 40%,
    var(--color-titles) 40% 60%,
    transparent 60% 80%,
    var(--color-titles) 80% 100%
  );
  display: none;

  @media screen and (max-width: 425px) {
    display: flex;
    z-index: 20;
  }
}

.btn--menu-open {
  background: linear-gradient(
    var(--color-accent) 20%,
    transparent 20% 40%,
    var(--color-accent) 40% 60%,
    transparent 60% 80%,
    var(--color-accent) 80% 100%
  );
}
